.cabecalhoPrincipal-download{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.cabecalho-titulo-down{
    font-size: 14px;
}

.cabecalhoPrincipal-img{
    width: 20px;
}

.cabecalho-curriculo{
    display: none;
    width: 2480px;
    height: 3508px;
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}

.cabecalhoPrincipal-nav{
    display: flex;
    margin-right: 140px;
}

.cabecalhoPrincipal-nav-link{
    margin: 0px 35px;  
}


.cabecalhoPrincipal-download-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-left: 10px;  
}

