.container-formacao{
display: flex;
flex-direction: column;
background: #f4e285;
}

.container-formacao .formacao-titulo{
    background: #f4e285;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formacao-titulo h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 45px;
}

.formacao-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f4e285;
}

.formacao-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 115px;
}

.formacao-curso{
    width: 600px;
}

.fomacao-img{
    margin-bottom: 8px;
}