
@media  (max-width: 1024px){

    body{
        width: fit-content
    }

    .projeto-botao{
        flex-wrap: nowrap;
        padding: 0%;
    }

    .cabecalhoPrincipal-nav {
        display: flex;
        margin-right: 40px;
        align-items: center;
    }  

 }

@media (max-width: 400px){
    .cabecalhoPrincipal-download-link{
        display: none;
    }

    .cabecalhoPrincipal-img{
        width: 60px;
        height: auto;
    }
}