.container-sobre{
    background: #FFF9C8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 95px;

}

.sobre-titulo{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 45px;
    margin-bottom: 50px;
}

.sobre-titulo h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: black;
}

.sobre-paragrafo{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin: 0px 157px 65px 45px;
}

.sobre-paragrafo p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

